.osnovnoi{
    top: 0;
    left: 0;
    position: absolute;
    z-index: 0;
    height: 560px;
    width: 97%;
    border: 20px solid black;
}

.osnovnoi .levyi{
    position: absolute;
   /* left:0;
    top:0;*/
    z-index: 1;
    height: 300px;
    width: 55%;
    background-color: red;
}

.osnovnoi .center{
    right: 25%;
    top: 150px;
    position: absolute;
    z-index: 3;
    height: 300px;
    width: 55%;
    background-color:green;
}

.osnovnoi .pravyi{
    right: 0;
    bottom: 0;
    position: absolute;
    z-index: 2;
    height: 300px;
    width: 55%;
    background-color:blue;   
}